@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

<h2>National Parks</h2>


@foreach (var park in Model)
{
<div class="row" id="index">
    <div class="col-lg-4" >
        <a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode" >
            <img class="NPImage" id="index" src="~/img/parks/@(park.ParkCode).jpg" />
        </a>
    </div>
    <div class="col-lg-8" >
        <a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode">
            <h3>@park.ParkName</h3>
        </a>
        <p>@park.ParkDescription</p>
    </div>
</div>
}