@model Survey
@{
    ViewData["Title"] = "Index";
}

<h2>Survey</h2>

<div>
    <form asp-action="index" asp-controller="survey" method="post">

        <label asp-for="ParkCode"></label>
        <select asp-for="ParkCode" asp-items="@ViewBag.ParkCode"></select>
        <span asp-validation-for="ParkCode"></span>
        
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <label asp-for="State"></label>
        <input asp-for="State" />
        <span asp-validation-for="State"></span>

        <label asp-for="ActivityLevel"></label>
        <select asp-for="ActivityLevel" asp-items="Survey.actives"></select>
        <span asp-validation-for="ActivityLevel"></span>

        <input type="submit" value="Submit Survey" />
    </form>
</div>